<nav class="navbar navbar-default navbar-fixed-top" ng-if="!home">
    <div id="background-white"></div>
    <div class="container text-center">
    	<span id="hamburger" class="glyphicon glyphicon-menu-hamburger pull-left btn-lg" ng-click="showmenu = !showmenu"></span>
        <h3>
    		Beckylee Dell
    	</h3>

        

        

        <div ng-show="showmenu">
            <ul class="pull-left col-sm-12">
                <li ng-repeat="item in menu" class="menu_home col-md-2 col-sm-12">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>