#home{
	margin-top:10%;

	h1{
		font-size:6em;
		color: rgba(gray, 0.7);
	}
	.menu_home{
		font-size:1.5em;
		text-decoration:none;
		a{
			color: rgba(gray, 0.9);
		}
	}

	li{
		list-style-type:none;
	}
	
}



