#home{
	margin-top:10%;

	h1{
		font-size:6em;
		color: rgba(gray, 0.7);
	}
	.menu_home{
		font-size:1.5em;
	}
	
}

@media (min-width: 992px){

	.menu_home{
		display:inline-block;
		padding:1%;

		a{
			color: rgba(gray, 0.9);
		}

		
	}
}

@media screen and (max-width: 991px){

	.menu_home{
		padding:1%;
		display:block;
		font-size:3em !important;

		a{
			color: rgba(gray, 0.9);
		}

		
	}
}