<div class="col-sm-12">
	<h3 class="text-center gray">Favorite Recipes</h3>

	<div class="col-sm-6">
		<div class="title-section purple1">
			<h4 class="text-center">Appetizers</h4>
		</div>

		<div class="recipes purple-border">
			<p ng-repeat="app in apps">
				<a href="app.link">{{app.name}}</a>
			</p>
		</div>

	</div>

	<div class="col-sm-6">
		<div class="title-section yellow1">
			<h4 class=" text-center">Side Dishes</h4>
		</div>
		<div class="recipes yellow-border">

			<p ng-repeat="side in sides">
				<a href="side.link">{{side.name}}</a>
			</p>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="col-sm-6">
		<div class="green1 title-section">
			<h4 class="text-center">Main Dishes</h4>
		</div>

		<div class="recipes green-border">

			<p ng-repeat="main in mains">
				<a href="main.link">{{main.name}}</a>
			</p>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="pink1 title-section">
			<h4 class="text-center">Desserts</h4>
		</div>
		<div class="recipes pink-border">

			<p ng-repeat="dessert in desserts">
				<a href="dessert.link">{{dessert.name}}</a>
			</p>
		</div>
	</div>

</div>