
<div class="col-sm-12" id="full-width">
	<div ng-repeat="school in education" class="col-lg-3 col-md-4 col-xs-12">
		<div class="square" style="height: {{width}}px">
			<div class="show-lg" ng-class="{'flipper':school.flip}">
				<div class="face text-center front {{school.color}}" style="height: {{width}}px">
					<h4><b>{{school.label | uppercase}}</b></h4>

					<div class="date">
						<p>{{school.dates}}</p>
					</div>

				</div>

				<div class="back face text-center {{school.color}} " style="height: {{width}}px">
					{{school.back}}

				</div>
			</div>

			<div class="hidden-lg">
					<div class="{{school.color}}">
						<h4 class="title">{{school.label | uppercase}}</h4>
					</div>
					<div ng-class="{'resume-text':school.back !== ''}">
						<p>{{school.dates}}</p>

						<p>{{school.back}}</p>
					</div>
			</div>
		</div>
	</div>

	<div ng-repeat="job in experience" class="col-lg-3 col-md-4 col-xs-12">
		<div class="square" style="height: {{width}}px">
			<div  class="show-lg" ng-class="{'flipper':job.flip}">
				<div class="face text-center front {{job.color}}" style="height: {{width}}px">
					<h4><b>{{job.label | uppercase}}</b></h4>

					<div class="date">
						<p>{{job.title}}</p>

						<p>{{job.dates}}</p>
					</div>

				</div>

				<div class="back face text-center {{job.color}} " style="height: {{width}}px">
					{{job.back}}

				</div>
			</div>

			<div class="hidden-lg">
					<div class="{{job.color}}">
						<h4 class="title">{{job.label | uppercase}}</h4>
					</div>
					<div ng-class="{'resume-text':job.back !== ''}">
						<p>{{job.dates}}</p>

						<p>{{job.back}}</p>
					</div>
			</div>

		</div>
	</div>

	<div ng-repeat="job in leadership" class="col-lg-3 col-md-4 col-xs-12">
		<div class="square" style="height: {{width}}px">
			<div class="show-lg" ng-class="{'flipper':job.flip}">
				<div class="face text-center front {{job.color}}" style="height: {{width}}px">
					<h4><b>{{job.label | uppercase}}</b></h4>

					<div class="date">
						<p>{{job.title}}</p>
						<p>{{job.dates}}</p>
					</div>

				</div>

				<div class="back face text-center {{job.color}} " style="height: {{width}}px">
					{{job.back}}

				</div>
			</div>

			<div class="hidden-lg">
					<div class="{{job.color}}">
						<h4 class="title">{{job.label | uppercase}}</h4>
					</div>
					<div ng-class="{'resume-text':job.back !== ''}">
						<p>{{job.dates}}</p>

						<p>{{job.back}}</p>
					</div>
			</div>
		</div>
	</div>
	<div ng-repeat="job in volunteer" class="col-lg-3 col-md-4 col-xs-12">
		<div class="square" style="height: {{width}}px">
			<div class="show-lg" ng-class="{'flipper':job.flip}">
				<div class="face text-center front {{job.color}}" style="height: {{width}}px">
					<h4><b>{{job.label | uppercase}}</b></h4>

					<div class="date">
						<p>{{job.title}}</p>
						<p>{{job.dates}}</p>
					</div>

				</div>

				<div class="back face text-center {{job.color}} " style="height: {{width}}px">
					{{job.back}}

				</div>
			</div>

			<div class="hidden-lg">
					<div class="{{job.color}}">
						<h4 class="title">{{job.label | uppercase}}</h4>
					</div>
					<div ng-class="{'resume-text':job.back !== ''}">
						<p>{{job.dates}}</p>

						<p>{{job.back}}</p>
					</div>
			</div>
		</div>
	</div>
</div>