@import url(https://fonts.googleapis.com/css?family=Aclonica);

@import url(https://fonts.googleapis.com/css?family=Chivo:400,900);

$font-header: 'Aclonica', sans-serif;
$font-default: 'Chivo', sans-serif;

$purple: #945EDB;
$purple2: #8770C0;
$purple3: #7139BC;

$green: #76D289;
$green2: #237234;
$green3: #4EA25F;

$yellow: #F7C63F;
$yellow2: #D19D0D;
$yellow3: #FFC31C;

$blue: #5BBBF3;
$blue2: #3482AF;
$blue3: #1EA0EB;

$pink: #f063d4;
body{
	width:100%;
	font-family: $font-default;
}

#main{
		padding-top:12%;
}

h1, h3{
	font-family:$font-header;
}

#black-bkgd{
	background-color:black;
	position:fixed;
	z-index:-1;
	height:100%;
	width:80%;
	left:48%;
	top:0;
	bottom:0;
	-ms-transform: skewX(-15deg); /* IE 9 */
    -webkit-transform: skewX(-15deg); /* Safari */
    transform: skewX(-15deg); /* Standard syntax */
}


.gray{
	color: gray;
}

@import 'home/main';
@import 'shapes/main';
@import 'skills/main';
@import 'recipes/main';
@import 'navbar/main';
@import 'contact/main';