.text-box{
	margin-left:5%;
	margin-right:5%;
	border:3px solid black;
	background-color:white;
	padding:0 2% 2% 2%;
}

.circle{
	width:250px;
	height:250px;
	border-radius:150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	display:inline-block;
	padding:1%;
	padding-top:25%;
	margin:1%;


}

.purple1{
	background-color:$purple;
	color:white;
}

.purple2{
	background-color:$purple2;
	color:white;
}

.purple3{
	background-color:$purple3;
	color:white;
}