.text-box{
	margin-left:5%;
	margin-right:5%;
	border:3px solid black;
	background-color:white;
	padding:0 2% 2% 2%;
}


@media screen and (max-width: 991px){
	.circle{
		width:100% !important;
		height:100px;
		padding:2%;
		border-radius:0px;
		margin:1%;
		a{
			color:white;
		}
	}

	.hidden-lg{
		display:block;
	}

	.show-lg{
		display:none;
	}

	.title{
		padding:2%;
	}

	.resume-text{
		background-color:white;
		padding:2%;
	}
}
@media (min-width: 992px){

	.circle{
		width:250px;
		height:250px;
		border-radius:150px;
		-moz-border-radius: 150px;
		-webkit-border-radius: 150px;
		display:inline-block;
		padding:1%;
		padding-top:25%;
		margin:1%;
		a{
			color:white;
		}
		

	}

	.hidden-lg{
		display:none;
	}

	.show-lg{
		display:block;
	}
}

.col-sm-3{
	padding:15px;
}

.square{
	margin-bottom:3%;
	position:relative;
	perspective:1000;


	.date{
		position:absolute;
		bottom: 0;
		width:100%;
		p{
			text-align:center;
		}
	}
	
}

.square:hover .flipper, .square.hover .flipper {
	transform: rotateY(180deg);
}


.flipper {
	transition: 0.8s;
	-webkit-transition: 0.8s;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	width: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding:2%;
}

.front {
	z-index: 2;

	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);

}

.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);

}
	
.purple-text, .blue-text, .green-text, .yellow-text{
	h4{
		margin-top:15%;
		font-size:2em !important;
		font-family: $font-header;
	}
}

.purple-text{
	color:$purple;
}

.purple1{
	background-color:$purple;
	color:white;
}

.purple2{
	background-color:$purple2;
	color:white;
}

.purple3{
	background-color:$purple3;
	color:white;
}

.green-text{
	color:$green;
}

.green1{
	background-color:$green;
	color:white;
}

.green2{
	background-color:$green2;
	color:white;
}

.green3{
	background-color:$green3;
	color:white;
}

.yellow-text{
	color:$yellow;
}

.yellow1{
	background-color:$yellow;
	color:white;
}

.yellow2{
	background-color:$yellow2;
	color:white;
}

.yellow3{
	background-color:$yellow3;
	color:white;
}

.blue-text{
	color:$blue;
}

.blue1{
	background-color:$blue;
	color:white;
}

.blue2{
	background-color:$blue2;
	color:white;
}

.blue3{
	background-color:$blue3;
	color:white;
}

.text-pink{
	color:$pink;
}

.pink1{
	background-color:$pink;
	color:white;
}